.heroContainer {
  display: flex;
  margin: 50px 0px 100px 0px;
  .heroText {
    vertical-align: middle;
    margin: auto;
    h1 {
      margin: 10px 15px;
    }
  }
  .heroImage {
    float: right;
    width: 450px;
    height: 350px;
    background: linear-gradient(to right, #f46b45, #eea849);
    border: solid 3px black;
    -moz-box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
  }
}
.subparagraphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    display: inline-block;
    font-size: 15px;
    padding: 0px 20px;
    margin: 0;
    width: 50%;
  }
}

@media only screen and (max-width: 870px) {
  .heroContainer {
    flex-direction: column-reverse;
    .heroImage {
      margin: 50px 15px;
    }
  }
  .subparagraphs {
    p {
      margin: 10px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .heroContainer {
    flex-direction: column-reverse;
    margin: 50px 0px 50px 0px;
    .heroImage {
      width: 80vw;
      height: auto;
      margin: 10px 15px;
    }
    .heroText {
      h1 {
        font-size: 25px;
        text-align: center;
      }
    }
  }
  p {
    margin-top: 0px;
  }
}
